@import "tailwindcss";

#root {
  /* max-width: 1380px; */
  margin: 0 auto;
  /* padding: 2rem;
  text-align: center; */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  /* Asegura estado inicial si no soporta 'from' */
  animation: fadeIn 0.8s ease-out forwards;
}

.ocultar-scroll {
  max-width: 1380px;
  margin: auto;
  overflow-x: hidden;
}

.negrita {
  color: black;
  font-weight: bold;
}